section{padding-bottom: 3vh;}


.title-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    border-radius: 5vh 5vh 0 0;

    background-color: var(--content-bg);
}

.title-container > h2{
    width: 45%;

    font-size: 3vw;
    text-align: center
}
.title-container > img{
    width: 52%;
    border-top-right-radius: 5vh;
}


.branch-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    font-weight: 450;
    padding: 3vh;

    background-color: var(--content-blue);
    color: white;
}

.branch-container > p{
    margin-top: 2vh;
    padding-inline: 0;
    width: 45%;
}
.branch-container > iframe{
    margin-top: 2vh;
    width: 50%;
    height: 35vh;
    border: 0;
}
.branch-container > img{width: 45%;}


.link-container{
    display: flex;
    justify-content: center;

    padding: 3vh 0;
    margin-bottom: 5vh;
    border-radius: 0 0 5vh 5vh;

    background-color: var(--content-blue);
}

.link-container > a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    text-decoration: none;
    font-size: 14.5pt;
    font-weight: 550;
    margin-left: 3vw;

    color: white;
}
.link-container img{
    margin-right: 1vh;
    width: 7.5vh;}


/* Hospital Summary Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2vh;
}

table, th, td {
    border: 1px solid var(--table-border);
    padding: 1vw;
    text-align: left;
}

th {
    text-align: center;
    
    background-color: var(--main-blue);
    color: white;
}

tfoot td {
    font-weight: 600;
    text-align: center;
}



/* Tablets and Mobile phones */
@media screen and (max-width:880px) {
    .title-container > h2 {
        width: 100%;
        font-size: 21pt;
    }
    .title-container > img{
        width: 100%;
        border-top-right-radius: 0;
    }

    .branch-container > iframe{width: 100%;}
    .branch-container > p{width: 100%;}
}


/* Mobile only */
@media screen and (max-width:430px) {
    .title-container{border-radius: 3vh 3vh 0 0;}
    .title-container > h2{
        width: 100%;
        font-size: x-large;
    }

    .link-container{border-radius: 0 0 3vh 3vh;}

    table{border: 0;}
    table,tbody{display: block;}

    #services{display: none;}
    thead > tr > th{
        width: 50vw
    }

    tbody > tr{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    td{
        display: block;
        width: 40vw;
    }
    td[name="services"]{
        text-align: center;
        width: 100%;
        margin-bottom: 3vh;
    }

    tfoot{display: none;}
}