.form-container > h2{padding-left: 8%;}


form {
    max-width: 65%;
    margin: auto;
}

fieldset{
    width: 100%;
    border-radius: 22.5px;

    background-color: var(--content-bg);
}


label {
    display: block;
    margin-top: 10px;
    font-weight: 600;
}
label.inline{
    display: inline;
    margin: 0 10%;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select, textarea {
    width: 95%;
    padding: 1.5vh;
    margin-top: 1vh;
    border-radius: 5px;
    border: 2px solid var(--border);

    transition: all 0.45s ease;
}

input[type="text"]:user-invalid,
input[type="email"]:user-invalid,
input[type="tel"]:user-invalid,
input[type="password"]:user-invalid{
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.02);
}


.button-container{
    display: flex;
    justify-content: space-evenly;
}

button{
    font-family: 'Montserrat';
    font-size: larger;

    padding: 1.5vh 4vw;
    border: none;
    border-radius: 30vw;
    margin: 3vh 0;
    
    transition: all 0.4s ease;
    cursor: pointer;

    background-color: var(--main-blue);
    color: white;
}
button:hover {
    background-color: var(--footer-blue);
}

button.full{width: 50%;}


ul li{margin: 10px 0;}



/* Mobile Phones only */
@media screen and (max-width:430px) {
    form{
        max-width: 90%;
        margin: 0;
    }

    .form-container > h2{
        text-align: center;
        padding-left: 0;
        width: 100%;
    }

    .button-container{
        width: 90vw;
        justify-content: space-between;}

    button{padding: 1.75vh 3vh;}
    
}