@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');



#hero-image{
    background-size: 85vw;
    background-image: url(images/homepage-hero.webp);
    opacity: 1;
    max-width: 85vw;
    height: auto;
    transition: all 0.5s ease;
}
#hero-image:hover{
    background-image: url(images/homepage-hero-alt.webp);
    box-shadow: 0 0 2vh var(--box-color);
}
.hero-container > .bold{
    padding-top: 10px;
}

#mobile-hero-image{display:none;}


.list-container{
    display: flex;  
    width: 100%;
    height: auto;
    border-radius: 8px;
    font-weight: 500;
    background-color: var(--box-color);
    color: white;
}
.list-container ul li{
    width: 45%;
    margin: 1vh 1vh;
    float: left;
}
.list-container ol li{
    margin: 3vh 0;
}


section[name="more-info"]{margin-top: 7.5vh;}

section[name="more-info"] > .title-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 3vh;
}

.title-container h2{
    max-width: 37.5vw;
    font-size: 2.75vw;
    text-align: center;
}

.title-container img{
    max-width: 40vw;
    border: var(--main-blue) solid 5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


section[name="thank-you"]{text-align: center;}



/* For mobile and tablet screens */
@media screen and (max-width:880px){
    article[name="contact"]{text-align: center;}

    section[name="more-info"] h2{
        max-width: 100%;
        font-size: x-large;
    }

    .title-container img{
        width: 85%;
        max-width: none;
    }
}

/* Mobile phones only */
@media screen and (max-width:430px) {
    #hero-image{display: none;}

    #mobile-hero-image{
        display: block;
        width: 100vw;
        height: auto;
    }

    .title-container img{
        width: 100%;
        overflow: hidden;
    }
}