:root{
    --otc-bg: #f9f9f9;
}



.title{
    display: flex;
    justify-content: center;
    text-align: center;
}

label.inline{
    margin: 0;
    margin-left: 14%;
}

#prescription-form, #otc-form{display: none;}

#otc-form{
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;

    border-radius: 22.5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--otc-bg);
}
#otc-form > legend{width: 100%;}


.otc-category{
    width: 25rem;
    margin-bottom: 5vh;

    border-radius: 22.5px;
    border: 2px solid var(--border);
    background-color: var(--content-bg);
}

.otc-category input{
    display: inline;
    width: 2rem;
    padding: 1vh;
    margin-right: 1rem;
    
    border-radius: 5px;
    border: 2px solid var(--border);
    transition: all 0.45s ease;
}

.otc-category h2 {text-align: center;}

.dropdown li{margin: 2vh 0;}
.dropdown li label{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}


#cart{
    display: none;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 2vh;
    margin-left: 10%;
}

table, th, td {
    border: 1px solid var(--table-border);
    padding: 1vw;
    text-align: left;
}

th {
    text-align: center;
    
    background-color: var(--main-blue);
    color: white;
}

tfoot td {
    font-weight: 600;
    text-align: center;
}

.save-button-container{
    display: none;
    justify-content: space-between;
    margin-bottom: 2vh;
    width: 100%;

    border-radius: 22.5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--otc-bg);
}

.save-button-container button{
    margin-inline: 3vw;
    border-radius: 15px;
    background-color: var(--main-blue);
}
.save-button-container button:hover{background-color: var(--footer-blue);}

.save-button-container button, .button-container button{display: none;}



@media screen and (max-width:880px) {
    label.inline{display: block;}
}