section[name="services-list"]{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    background-color: var(--content-bg);
}


.service-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 45%;
    padding: 1vw;
    margin: 2.5vh 0;
    border-radius: 5vw;

    background-color: var(--content-blue);

    transition: all 0.35s ease;

    animation: fade-in linear;
    animation-timeline: view();
    animation-range: entry 0% cover 22%;
}
.service-item:hover{
    box-shadow: 0 0 1vh black;
    transform: scale(1.025);
}

.service-item > h2, .service-item > p{
    text-align: center;
    color: white;
}

.service-item > img{
    max-width: 29vw;
    height: 19.5vw;
    width: 100%;
    margin: 1vh;
    border-radius: 3%;
    box-shadow: 0 0 0.5vh white;
}


/* Tablets and mobile phones */
@media screen and (max-width:880px) {
    .service-item{width: 100%;}
    .service-item > img{
        max-width: 80%;
        height: auto;}
}