::-webkit-scrollbar {
    width: 1.5vh;
} 



.logo-container img{
    width: 45vw;
    height: auto;
    margin: 1vw;
}


nav{
    display: flex;
    justify-content: space-around;
    
    background-color:  var(--backdrop);
}

.nav-left, .nav-right{
    display: flex;
    justify-content: flex-end;
}
.nav-left > a, .nav-right > a{
    display: flex;
    justify-content: center;
    box-shadow: 0 0 2px black;
    border-radius: 0;
    margin: 2px 0;
    width: 35vw;

    background-color: var(--main-blue);
}

.nav-center{display: none;}

#nav-mobile{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 99vw;

    background-color: var(--main-blue);
}
#nav-mobile > a{
    margin: 0.5vh 0;
    padding: 1.5vh 2vw;
    transition: all 0.5s ease;
}



.footer-container{display: block;}

.footer-inner{
    display: flex;
    justify-content: space-between;

    border-bottom: var(--footer-line) solid 2.5px;
}

.footer-box{min-width: 30vw;}

.footer-box a{
    display: flex;
    justify-content: center;
    margin: 1.5vh 0;
}

.underline-effect a:hover{text-decoration: underline;}
.underline-effect a::after{display: none;}

#footer-logo{
    display: block;
    margin: 0;
    
}
.footer-box img{
    width: 27.5vw;
    height: auto;
}